@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$fontStack: Roboto, Arial, Helvetica, sans-serif;
$desktopBreak: 968px;
$mobileBreak: 562px;

$lightColor: #d8d8d8;
$darkColor: #383838

